@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Inter:wght@400;600;700&family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

@import 'shared/variable.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/form.css';

:root {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}